*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ibarra Real Nova", serif;
}

p, a, li{
    font-family: "Public Sans", sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}